html, body {
  display: flex;  
  height: 100%;
}

body, #root {
  flex: 1;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  font-family: 'Titillium Web', sans-serif;
 }